<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
  <title>Stencil Component Starter</title>

  <script type="module" src="/build/regas-table.esm.js"></script>
  <script nomodule src="/build/regas-table.js"></script>

</head>
<body>
<regas-table></regas-table>

<script>
  const table = document.querySelector("regas-table");
  table.options = {showCheckBox: true, identifier: "id"};
  table.columns = [
    {
      property: "naam",
      label: "Naam",
      type: "string",
    },
    {
      property: "plaats",
      label: "Woonplaats",
      type: "string"
    },
    {
      property: "inwoners",
      label: "Aantal inwoners",
      type: "number",
    },
    {
      property: "geboortedatum",
      label: "geboren op",
      type : "date",
      dateFormat: {
        year: "numeric"

      }
    },
    {
      property: "isMale",
      label: "geslacht",
      type : "boolean",
      truthyValue: "man",
      falsyValue: "vrouw"
    },
    {
      property: "bewerk",
      label: "actie",
      type: "button",
      dispatchedEventIdentifier: "buttonclick",
      buttonText:  "{{name}} woont in <stad>",
      buttonTextReplacements: [
        {
          replace: "{{name}}",
          property: "naam"
        },
        {
          replace: "<stad>",
          property: "plaats"
        }
      ]
    },
    {
      property: "bewerk",
      label: "Bewerken",
      type: "edit",
    },
    {
      property: "more",
      label: "meer info",
      type: "link",
      linkText:  "lees meer",
      href: "mijn.fake.regas.nl/persons/{{id}}",
      hrefReplacements: [
        {
          replace: "{{id}}",
          property: "id"
        }
      ]
    }
  ];
  table.addEventListener("buttonClick", evt => console.log("buttonclick",evt));
  table.addEventListener("edit", evt => console.log("edit",evt));
  table.addEventListener("selectedChange", evt => console.log("selectedChange",evt));

  fetch("http://localhost:3000/persons")
    .then(resp=> resp.json())
    .then(json => {
      table.data = json;
    })
</script>
</body>
</html>
